<a href="https://colab.research.google.com/github/NdindaLeech/IPWEEK4/blob/main/WK4LEECH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Cleaning and Analysis - Autolib dataset

## 1.0 Importing the necessary Libraries

In [2]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from the CSV file

In [3]:
#Read the data from the CSV file and creating the dataframe to be used
# 
df = pd.read_csv('Autolib_dataset.csv')

## 1.2 Previewing our Dataset

In [5]:
# Previewing the first 10 rows of our data
# 
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

## 1.3 Accessing Information about the Dataset

In [6]:
# Getting to know more about the dataset by accessing its information
# 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [7]:
#Describing the data
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

## 1.4 Using the correct data types in the dataframe

In [ ]:
#Checking the data type 
df.dtypes

## 1.4 Cleaning our Dataset

> Indented block

Let us perform data cleaning procedures below providing a documentation for our actions and reasons. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 1.41) Validity: <font color="green">Challenges</font>

In [ ]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping Location_1 attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
#df.drop(["Location_1"], axis = 1, inplace = True)
df.head()

            County Missing_Hand Missing_Foot  ... Paralyzed  Other Total_Count
0          Baringo        10.9%         2.8%  ...     54.2%  10.9%      6512.1
1            Bomet           0%           0%  ...      0.3%  38.7%      6538.0
2          Bungoma        12.3%           0%  ...        0%  21.9%     13170.6
3            Busia           0%           0%  ...     14.8%  31.4%      6655.5
4  Elgeyo Marakwet           0%           0%  ...     12.6%   7.4%      3599.9

[5 rows x 11 columns]

In [ ]:
# Procedure 2: Irrelevant Data Observation
# Data Cleaning Action: Drop OBJECTID attribute
# Explanation: Its irrelevant to our table i.e. attribute starts from 0 and ends of 48 i.e. No meaning at all.
# 
df.drop(["OBJECTID"], axis = 1, inplace = True)
df

             County Missing_Hand Missing_Foot  ... Paralyzed  Other Total_Count
0           Baringo        10.9%         2.8%  ...     54.2%  10.9%      6512.1
1             Bomet           0%           0%  ...      0.3%  38.7%      6538.0
2           Bungoma        12.3%           0%  ...        0%  21.9%     13170.6
3             Busia           0%           0%  ...     14.8%  31.4%      6655.5
4   Elgeyo Marakwet           0%           0%  ...     12.6%   7.4%      3599.9
5              Embu           0%           0%  ...      2.5%  41.8%      6287.4
6           Garissa           0%        37.1%  ...     11.3%  51.6%      1864.1
7          Homa Bay         2.1%           0%  ...        9%  48.3%     23696.8
8            Isiolo        13.9%         3.3%  ...        2%  19.8%      2154.4
9           Kajiado           0%           0%  ...        0%  45.5%      3250.3
10         Kakamega           1%           0%  ...      6.3%  51.7%     27468.9
11          Kericho           0%           0%  ...     21.7%  73.6%      3055.8
12           Kiambu           0%           0%  ...      7.6%  11.6%     10099.9
13           Kilifi         2.5%           0%  ...      9.9%   2.5%      6996.6
14        Kirinyaga           0%           0%  ...     33.6%     0%      2522.8
15            Kisii           0%         6.6%  ...       11%  23.8%      9627.8
16           Kisumu         7.6%           0%  ...        3%  41.4%     20026.3
17            Kitui           0%         9.3%  ...     19.4%   7.6%      4403.0
18            Kwale           0%         9.1%  ...      6.4%  19.5%      8503.0
19         Laikipia           0%           0%  ...        0%     0%      1825.7
20             Lamu           0%           0%  ...      2.9%  65.3%       524.9
21         Machakos           0%           0%  ...       18%  58.9%     23460.4
22          Makueni           0%           0%  ...     10.9%  30.5%     15475.4
23          Mandera           0%         1.4%  ...      9.2%  10.9%      3343.5
24         Marsabit         1.5%         9.7%  ...     23.9%  18.3%      3931.5
25             Meru           0%           0%  ...        4%  57.2%     19166.3
26           Migori           6%         6.9%  ...     15.4%  30.1%     15359.3
27          Mombasa           0%           0%  ...     25.8%  22.6%      5413.4
28         Murang'a           0%           0%  ...     10.1%  15.5%      8512.1
29          Nairobi           0%        12.6%  ...      1.1%  18.9%     14936.2
30           Nakuru         0.4%           0%  ...     12.7%  15.7%     21598.0
31            Nandi           0%         9.1%  ...        0%  49.1%     11530.7
32            Narok         5.4%         0.6%  ...     32.5%  14.4%      7986.1
33          Nyamira           0%           0%  ...        0%     0%      4727.3
34        Nyandarua        21.2%           0%  ...        0%     0%      2369.6
35            Nyeri           0%        16.1%  ...        0%     0%      2392.6
36          Samburu        11.6%          10%  ...        0%     0%      2574.9
37            Siaya           0%           0%  ...       10%  23.6%      6279.4
38     Taita Taveta           0%         3.7%  ...     20.4%   5.9%      3709.8
39       Tana River           0%           0%  ...      9.2%   8.1%      3699.8
40    Tharaka Nithi           0%           0%  ...        0%  29.3%       420.1
41      Trans Nzoia           0%           0%  ...        0%  68.2%      8251.9
42          Turkana           0%           0%  ...     92.2%     0%      1733.1
43      Uasin Gishu           0%           0%  ...      7.2%  58.1%      9281.6
44           Vihiga           0%           0%  ...        0%  26.9%     23490.6
45            Wajir         1.3%         5.2%  ...     15.8%     0%      9276.5
46       West Pokot           0%          14%  ...     30.9%  12.6%      4874.2
47    Kenya average         1.9%         2.3%  ...       10%  31.7%    402578.1

[48 rows x 11 columns]

In [ ]:
#check for syntax errors under validity
df['County'] = df['County'].str.strip()
df['County'].head()

0            Baringo
1              Bomet
2            Bungoma
3              Busia
4    Elgeyo Marakwet
Name: County, dtype: object

In [ ]:
# Procedure 3:
# Data Cleaning Action:Checking for non missing values_Leech
# Explanation:
#
df.count()

County          48
Missing_Hand    48
Missing_Foot    48
Lame            48
Blind           48
Deaf            48
Dumb            48
Mental          48
Paralyzed       48
Other           48
Total_Count     48
dtype: int64

In [ ]:
# Procedure 4:
# Data Cleaning Action:Check for missing values
# Explanation:
#
num_rows = df.shape[0]
num_missing = num_rows - df.count() 
num_missing

County          0
Missing_Hand    0
Missing_Foot    0
Lame            0
Blind           0
Deaf            0
Dumb            0
Mental          0
Paralyzed       0
Other           0
Total_Count     0
dtype: int64

### 1.42) Accuracy <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### 1.43) Completeness <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:Check if there is any null value anywhere in the dataframe
#
print(df.isnull().values.any())

False

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:check how many missing values there are
#
print(df.isnull().sum().sum())

0

### 1.44) Consitency: <font color="green">Challenges</font>

In [ ]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
#Identifying which observations are duplicates
df_non_duplicates = df.drop_duplicates()
df_non_duplicates

             County Missing_Hand Missing_Foot  ... Paralyzed  Other Total_Count
0           Baringo        10.9%         2.8%  ...     54.2%  10.9%      6512.1
1             Bomet           0%           0%  ...      0.3%  38.7%      6538.0
2           Bungoma        12.3%           0%  ...        0%  21.9%     13170.6
3             Busia           0%           0%  ...     14.8%  31.4%      6655.5
4   Elgeyo Marakwet           0%           0%  ...     12.6%   7.4%      3599.9
5              Embu           0%           0%  ...      2.5%  41.8%      6287.4
6           Garissa           0%        37.1%  ...     11.3%  51.6%      1864.1
7          Homa Bay         2.1%           0%  ...        9%  48.3%     23696.8
8            Isiolo        13.9%         3.3%  ...        2%  19.8%      2154.4
9           Kajiado           0%           0%  ...        0%  45.5%      3250.3
10         Kakamega           1%           0%  ...      6.3%  51.7%     27468.9
11          Kericho           0%           0%  ...     21.7%  73.6%      3055.8
12           Kiambu           0%           0%  ...      7.6%  11.6%     10099.9
13           Kilifi         2.5%           0%  ...      9.9%   2.5%      6996.6
14        Kirinyaga           0%           0%  ...     33.6%     0%      2522.8
15            Kisii           0%         6.6%  ...       11%  23.8%      9627.8
16           Kisumu         7.6%           0%  ...        3%  41.4%     20026.3
17            Kitui           0%         9.3%  ...     19.4%   7.6%      4403.0
18            Kwale           0%         9.1%  ...      6.4%  19.5%      8503.0
19         Laikipia           0%           0%  ...        0%     0%      1825.7
20             Lamu           0%           0%  ...      2.9%  65.3%       524.9
21         Machakos           0%           0%  ...       18%  58.9%     23460.4
22          Makueni           0%           0%  ...     10.9%  30.5%     15475.4
23          Mandera           0%         1.4%  ...      9.2%  10.9%      3343.5
24         Marsabit         1.5%         9.7%  ...     23.9%  18.3%      3931.5
25             Meru           0%           0%  ...        4%  57.2%     19166.3
26           Migori           6%         6.9%  ...     15.4%  30.1%     15359.3
27          Mombasa           0%           0%  ...     25.8%  22.6%      5413.4
28         Murang'a           0%           0%  ...     10.1%  15.5%      8512.1
29          Nairobi           0%        12.6%  ...      1.1%  18.9%     14936.2
30           Nakuru         0.4%           0%  ...     12.7%  15.7%     21598.0
31            Nandi           0%         9.1%  ...        0%  49.1%     11530.7
32            Narok         5.4%         0.6%  ...     32.5%  14.4%      7986.1
33          Nyamira           0%           0%  ...        0%     0%      4727.3
34        Nyandarua        21.2%           0%  ...        0%     0%      2369.6
35            Nyeri           0%        16.1%  ...        0%     0%      2392.6
36          Samburu        11.6%          10%  ...        0%     0%      2574.9
37            Siaya           0%           0%  ...       10%  23.6%      6279.4
38     Taita Taveta           0%         3.7%  ...     20.4%   5.9%      3709.8
39       Tana River           0%           0%  ...      9.2%   8.1%      3699.8
40    Tharaka Nithi           0%           0%  ...        0%  29.3%       420.1
41      Trans Nzoia           0%           0%  ...        0%  68.2%      8251.9
42          Turkana           0%           0%  ...     92.2%     0%      1733.1
43      Uasin Gishu           0%           0%  ...      7.2%  58.1%      9281.6
44           Vihiga           0%           0%  ...        0%  26.9%     23490.6
45            Wajir         1.3%         5.2%  ...     15.8%     0%      9276.5
46       West Pokot           0%          14%  ...     30.9%  12.6%      4874.2
47    Kenya average         1.9%         2.3%  ...       10%  31.7%    402578.1

[48 rows x 11 columns]

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [ ]:
# Procedure 1: 
# Data Cleaning Action:
# Explanation:
#
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
print(df)

             county missing_hand  ...              location_1 objectid
0           Baringo        10.9%  ...   (0.512912, 35.952537)        0
1             Bomet           0%  ...  (-0.690131, 35.278005)        1
2           Bungoma        12.3%  ...   (0.737046, 34.672536)        2
3             Busia           0%  ...   (0.428414, 34.210571)        3
4   Elgeyo Marakwet           0%  ...   (0.806011, 35.564093)        4
5              Embu           0%  ...    (-0.5982, 37.653906)        5
6           Garissa           0%  ...  (-0.564679, 40.408457)        6
7          Homa Bay         2.1%  ...  (-0.640985, 34.411083)        7
8            Isiolo        13.9%  ...   (0.949302, 38.614718)        8
9           Kajiado           0%  ...  (-2.221971, 36.980268)        9
10         Kakamega           1%  ...   (0.308499, 34.654844)       10
11          Kericho           0%  ...  (-0.297842, 35.319833)       11
12           Kiambu           0%  ...   (-1.060698, 36.79929)       12
13           Kilifi         2.5%  ...   (-3.279972, 39.63501)       13
14        Kirinyaga           0%  ...  (-0.517766, 37.302006)       14
15            Kisii           0%  ...  (-0.782524, 34.766895)       15
16           Kisumu         7.6%  ...  (-0.167225, 34.953647)       16
17            Kitui           0%  ...  (-1.519146, 38.376101)       17
18            Kwale           0%  ...  (-4.242667, 39.174233)       18
19         Laikipia           0%  ...   (0.311627, 36.814178)       19
20             Lamu           0%  ...   (-2.03752, 40.688214)       20
21         Machakos           0%  ...  (-1.327138, 37.352277)       21
22          Makueni           0%  ...  (-2.211917, 37.865047)       22
23          Mandera           0%  ...    (3.46712, 40.704671)       23
24         Marsabit         1.5%  ...    (2.772167, 37.76822)       24
25             Meru           0%  ...   (0.159398, 37.750761)       25
26           Migori           6%  ...   (-1.008592, 34.42681)       26
27          Mombasa           0%  ...  (-3.998813, 39.632129)       27
28         Murang'a           0%  ...  (-0.804314, 37.035566)       28
29          Nairobi           0%  ...  (-1.296975, 36.844534)       29
30           Nakuru         0.4%  ...  (-0.385212, 36.036261)       30
31            Nandi           0%  ...   (0.143371, 35.156125)       31
32            Narok         5.4%  ...  (-1.227452, 35.686784)       32
33          Nyamira           0%  ...  (-0.644917, 34.955612)       33
34        Nyandarua        21.2%  ...  (-0.374727, 36.494076)       34
35            Nyeri           0%  ...  (-0.407168, 36.965186)       35
36          Samburu        11.6%  ...   (1.183862, 37.184377)       36
37            Siaya           0%  ...   (0.039184, 34.279374)       37
38     Taita Taveta           0%  ...  (-3.551502, 38.376101)       38
39       Tana River           0%  ...  (-1.584971, 39.536272)       39
40    Tharaka Nithi           0%  ...  (-0.227324, 37.882411)       40
41      Trans Nzoia           0%  ...   (1.030597, 34.949297)       41
42          Turkana           0%  ...   (3.318344, 35.401457)       42
43      Uasin Gishu           0%  ...   (0.555288, 35.306307)       43
44           Vihiga           0%  ...     (0.0785, 34.717749)       44
45            Wajir         1.3%  ...    (1.895541, 40.07933)       45
46       West Pokot           0%  ...   (1.575837, 35.316901)       46
47    Kenya average         1.9%  ...                     NaN       47

[48 rows x 13 columns]

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### Exporting the Cleaned Dataset

In [ ]:
# Let's export our dataframe into a csv file as shown 
# in the example given in the following line;
# daframe.to_csv('example.csv')
# In the above case daframe is the dataframe which would like to export.
# we use the to_csv function to create a csv file with the name example 
# and export it
#
df.to_csv('disability.csv')

## 1.5 Answering Questions

Let's answer the following questions with our dataset using python.

In [ ]:
# Challenge 1
# Which county had the highest no. of registered deaf persons?
# 
df['deaf'].groupby([df['county']])
df.head()

            county missing_hand  ...              location_1 objectid
0          Baringo        10.9%  ...   (0.512912, 35.952537)        0
1            Bomet           0%  ...  (-0.690131, 35.278005)        1
2          Bungoma        12.3%  ...   (0.737046, 34.672536)        2
3            Busia           0%  ...   (0.428414, 34.210571)        3
4  Elgeyo Marakwet           0%  ...   (0.806011, 35.564093)        4

[5 rows x 13 columns]

In [ ]:
# Challenge 2
# Which county had the highest no. of registered persons with a missing hand?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Which county had the highest no. of registered persons with a missing foot?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 4
# Which county had the highest no. of registered lame persons?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 5
# Which county had the lowest no. of registered blind persons?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 6
# Which county had the highest third no. of registered deaf persons?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 7
# In descending order, which top 5 counties had the highest no. of registered dumb persons?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 8
# In ascending order, which top 5 counties had the highest no. of registered persons with a mental disability? 
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 9
# Which counties had no registerd blind persons nor deaf persons?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 10
# Which disability was the most registered across all the counties?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 11
# Which disability was the least registered across all the counties?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 12
# What was the average no. of registered persons with a disability?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 13
# Which three counties had least registered persons with disabilities?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 14
# What was the total no of registered persons with a disability across all counties?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 15 
# Which top 3 counties has the highest no. of registered persons with a disability?
# 
OUR CODE GOES HERE